@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Noto+Sans+Warang+Citi&family=Roboto:wght@400;500;700&display=swap");

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Montserrat;
  background-color: #13152a;
  height: 100vh;
  margin-bottom: 80px;
}
